#park-footer {
    background-image: url("https://www.nps.gov/common/commonspot/templates/assets/images/bkg/topo_pattern.png");
    padding: 20px;
  }
  
  #park-footer h3 {
    font-family: var(--bs-font-serif);
    text-transform: uppercase;
    font-size: 1em;
  }