/* Title and logo styling */

.site-title {
    display: flex;
    align-items: center;
  }
  .site-title > span {
    font-size: 1rem;
    margin-left: 0.3em;
  }
  
  .logo {
    height: 0;
    width: 0;
    margin: 0.5em;
    display: inline-block;
    border-top: 34px solid var(--bs-light-green);
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }

.global-header {
    background-color: black;
    color: var(--bs-white);
    display: grid;
    grid-template-columns: auto 200px;
    justify-content: space-between;
  }
  
  .global-header a {
    text-decoration: none;
    color: var(--bs-white);
    font-weight: bold;
  }

  .global-header svg {
    background-color: var(--bs-black);
    fill: var(--bs-white);
    /* display: block; */
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  .global-header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .global-header__right button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .search-icon {
    padding: 20px;
  }
  
  #global-nav-toggle {
    color: var(--bs-white);
    background-color: var(--bs-black);
    font-weight: bold;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    border-left: 1px solid grey;
    height: 100%;
    font-weight: normal;
  }
  
  #global-nav-toggle .icon {
    color: white;
    margin: 2px;
  }

  .global-nav {
    max-height: 0;
    display: flex;
    overflow: hidden;
    transition: all 1s;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
  }

  .global-nav.show {
    max-height: 900px;
    display: flex;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
  }

  .global-nav__section-heading:nth-of-type(1) {
    color: var(--bs-light-green);
    font-size: 1em;
    padding: 20px 20px 0px 10px;
    margin: 0;
    border-top: solid var(--bs-gray-600);
  }

  .global-nav__section-heading:nth-of-type(2) {
    color: var(--bs-cerulean);
    font-size: 1em;
    padding: 0px 10px;
    margin: 0;
  }

  .global-nav__list {
    list-style: none;
    padding-left: 0;
    /* max-height: 0; */
  }

  .global-nav__split-button {
    color: white;
    background-color: var(--bs-gray-800);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8em;
    margin: 0;
    border-top: solid var(--bs-gray-700);
  }

  /* .global-nav__split-button a {
    padding: 10px;
  } */

  .global-nav__split-button button {
    background-color: transparent;
    border: none;
    border-left: solid var(--bs-gray-600);
    height: 100%;
    width: 70px;
    transition: 1s;
  }

  .global-nav__split-button button:hover {
    background-color: var(--bs-gray-900);
    cursor: pointer;
  }

  .global-nav__split-button a:hover {
    background-color: var(--bs-gray-900);
    cursor: pointer;
  }

  .global-nav__split-button a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .global-nav__split-button button .icon {
    background-color: transparent;
    fill: white;
    --icon-color: white;
  }

  .global-nav-sublist {
    max-height: 0px;
    list-style: none;
    overflow: hidden;
    line-height: 30px;
    transition: 1s;
  }

  .global-nav-sublist a {
    font-weight: normal;
    font-size: .8em;
  }

  .global-nav-sublist a:hover {
    text-decoration: underline;
  }

  .global-nav-menu-closed {
    display: flex;
    align-items: center;
  }

  .global-nav-menu-open {
    max-height: 0;
    display: none;
    align-items: center;
  }

  .global-nav__toggle[aria-expanded="true"] > .global-nav-menu-open {
    display: flex;
  }

  .global-nav__toggle[aria-expanded="true"] > .global-nav-menu-closed {
    display: none;
  }

  #park-hero {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    
  }
  
  #hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--bs-white);
    z-index: 1;
    grid-row: 4;
    grid-column: 1;
    display: flex;
    align-items: center;
  }
  
  #hero-text a {
    color: var(--bs-white);
    opacity: 100%;
  }
  
  #hero-text h1 {
    font-size: 1.5em;
    padding: 10px;
  }
  
  .hero-subtitle {
    font-size: .75em;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  #park-hero img {
    z-index: 0;
    grid-row: 1/5;
    grid-column: 1;
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  
  #park-links {
    background-color: var(--bs-black);
  }
  
  #park-links ul {
    background-color: var(--bs-black);
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
  }
  
  #park-links li {
    font-size: .6em;
    font-weight: bold;
    padding: 20px;
    align-content: center;
  }
  
  #park-links a {
    color: var(--bs-white);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .show {
    max-height: 1000px;
  }

  .rotate {
    transform: rotate(180deg);
  }