#alerts ul {
    list-style: none;
}

.alert {
    display: flex;
    border-bottom: solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
}

.alert svg {
    height: 30px;
    width: 30px;
    margin: .25em;
    flex: 0 0 auto;
}

.alert h3 {
    margin: 0px auto 0px 30px;
}

.alert p {
    margin: 0px auto 0px 30px;
}