  .info {
    width: 100%;
    padding: 10px;
  }
  
  .info h1 {
    font-family:var(--bs-font-serif);
    font-weight: 550;
  }
  
  .info h2 {
    font-size: 1em;
  }
  
  .info a {
    color: var(--bs-black);
  }
  
  .info p {
    font-size: .8em;
  }
  
  @media screen and (min-width: 550px) {
    .info {
      display: flex;
      margin: 0 auto;
      justify-content: center;
    }
    .info div {
      padding: 10px;
      flex: 1;
    }
  }