#main {
    padding: 50px;
}

.vc-name {
    font-weight: normal;
    font-size: 1.5em;
    border-bottom: solid var(--bs-grey-3);
    padding-bottom: 20px;
}

.vc-info {
    margin: 0 auto;
}

.vc-info figure {
    text-align: center;
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}
.vc-info img {
    width: 90%;
}

.vc-info figcaption {
    text-align: left;
    margin-left: 5%;
    font-size: .8em;
}
.vc-info figcaption span {
    display: block;
}

.vc-info span {
    font-style: italic;
}

#vcAmenities ul {
    list-style: none;
}

.vc-gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.vc-gallery li {
    list-style: none;
}

.vc-gallery ul {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

details {
    border: solid var(--bs-grey-3);
    padding: 10px;
    border-radius: 5px;
}